<!DOCTYPE html>
<html ng-app>
<head>
    <title>Todo List</title>
</head>
<body>

    <h1 id="todoListTitle"></h1>

    <ol id="todoList">

    </ol>

    <div>
        <input type="text" id="todoTitle" maxlength="15"/>
        <button id="addButton">Add</button>
        <button id="clearButton">Clear</button>
        <button id="saveButton">Save</button>
    </div>


    <div todo-list>
        <ol>
            <li ng-repeat="item in ctrl.todoItems">
                {{item.title}}
            </li>
        </ol>

        <input type="text" ng-model="name" maxlength="15"/>
        <button ng-click="ctrl.addItem(name)">Add</button>
    </div>

    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>


    <p id="console">
</body>
</html>